footer.footer(ng-class='{"footer-auth": vvm.$state.current.name=="auth"}')
  span.footer-text
    | © 2008 — {{vvm.date | date:'yyyy'}} MADE WITH&nbsp;&nbsp;
    //img.heart-gif(src='assets/images/love.gif', style='height: 12px;')
    span.footer-text__heart.fa.fa-heart
    | &nbsp;&nbsp;
    | BY MIRUSDESK | RELEASE 2.0
    br(ng-if='vvm.$state.current.name=="auth"')
    |  POWERED BY&nbsp;&nbsp;
    img(src='assets/images/automato.gif', style='height: 12px;')
    | &nbsp;&nbsp;
    | AUTOMATO
    | &nbsp;
    br(ng-if='vvm.$state.current.name=="auth"')
    span(ng-if='vvm.$state.current.name!=="auth"')  &nbsp;ОБРАБОТАНО&nbsp;
    span(ng-if='vvm.$state.current.name!=="auth"') {{vvm.counter}}
    span(ng-if='vvm.$state.current.name!=="auth"')  ЗАЯВОК
