<md-toolbar class="m-header" layout="row" layout-align="center center">

  <div class="header-content">
    <span class="logo-name">MD</span>
    <span class="logo-invoice"> TICKET </span>
    <!--<div class="logo-line"></div>-->
    <span class="logo-text"> ОПЕРАТИВНЫЙ ЦЕНТР ОБСЛУЖИВАНИЯ <br>
КЛИЕНТОВ КОМПАНИИ MIRUSDESK</span>
    <m-menu-documents ng-if='vm.$state.current.parent=="documents"'></m-menu-documents>


  </div>



</md-toolbar>
