script(type='text/javascript', src='https://one.callback.pw/widget/de64db65-438f-4e2a-af8c-56d1a46e63cb')
div(style='height: 100vh;display: table;width: 100vw;')

  div(style='width: 400px;margin: 0 auto;display: table-cell;vertical-align: middle;background: #f47373;')
    header(style='width: 400px;margin: 0 auto;')
      acme-navbar
    script(src='//fast.wistia.com/embed/medias/if6lac8z3i.jsonp', async='')
    script(src='//fast.wistia.com/assets/external/E-v1.js', async='')
    .wistia_responsive_padding(ng-show='vm.showVideos'  style='position: absolute;left: 0;height: 100%;top: 0;width: 100%;z-index: 100;')
      .wistia_responsive_wrapper(style='margin: auto;width: 80%;padding: 10%;')
        div(ng-click='vm.showVideos = false;' style='position:absolute; left:0; top:0; height:100%; width:100%;')
        .wistia_embed.wistia_async_if6lac8z3i(class='videoFoam=true', style='height:80%;width:80%')  



    .background
      .m-container.background(style='width: 400px;min-height: auto;')
        div(style='background-color: #f7f7f7;')
          .m-auth(style='padding: 30px 25px;')
            div.m-input-container(flex-gt-sm)
              label ID компании
              br
              input(ng-class="{'deactiveDashed': vm.idToEnter}",
              required='',
              name='clientName',
              type="text",
              ng-model="vm.idToEnter")
            div.m-input-container(flex-gt-sm)
              label Пароль
              br
              input.password(ng-class="{'deactiveDashed': vm.password}",
              required='',
              type="password1"
              ng-model="vm.password")

            md-button.button(ng-click='vm.auth()', style='background-color: #f47373;color: white;') Войти

    m-footer


