div.m-menu-documents.m-menu-documents-right(data-offset-top="100", bs-affix)
  div.m-menu-documents-item(ng-click='vm.sendRequestSelling()', ng-class='{animation: vm.getClassValidationForSubmit()}')
    img.disabled(ng-src='../assets/images/menu_icons/realisation7.svg')
    img.active(ng-src='../assets/images/menu_icons/realisation7-reverse.svg')
    md-tooltip(md-direction="bottom") Отправить
  div.m-menu-documents-item(ui-sref='history')
    img.disabled(ng-src='../assets/images/menu_icons/realisation5.svg')
    img.active(ng-src='../assets/images/menu_icons/realisation5-reverse.svg')
    md-tooltip(md-direction="bottom") История
  div.m-menu-documents-item(ui-sref='settings')
    img.disabled(ng-src='../assets/images/menu_icons/settings.svg')
    img.active(ng-src='../assets/images/menu_icons/settings-reverse.svg')
    md-tooltip(md-direction="bottom") Настройки
  div.m-menu-documents-item(ng-click='vm.logout()')
    img.disabled(ng-src='../assets/images/menu_icons/realisation6.svg')
    img.active(ng-src='../assets/images/menu_icons/realisation6-reverse.svg')
    md-tooltip(md-direction="bottom") Выйти

div.m-row.m-document(layout='row')
  div(flex="80")
    h1.text-header Поступление №&nbsp;
    input.text-header--input(ng-disabled='true', type='text', ng-model='vm.document.number')

  div(flex='20')
    datepicker.m-datepicker(date-format="от dd MMMM yyyy г.")
      input.m-input-picker( ng-model="vm.document.date", type="text")


m-type-client(m-contragent="vm.document.contragent")

div( ng-mouseover='vm.document.invalid = false;')
  div.like-invoice-title
    div.m-point(ng-class='vm.getClassValidation()')
    | Поступление
  div.like-invoice-body

    div.m-padding-bottom На основании
      div(layout='row' layout-wrap flex)
        .radio
          label
            input(type='radio', name='optradio', ng-model='vm.document.naOsnovanii', value="Счет на оплату")
            | Счет на оплату
        .radio
          label
            input(type='radio', name='optradio', ng-model='vm.document.naOsnovanii', value="Счет-фактура + Накладная")
            | Счет-фактура + Накладная

    div.m-row(layout='row', ng-if='vm.document.naOsnovanii')
      .m-input-container(flex=50, ng-if='vm.document.naOsnovanii=="Счет на оплату"')
        label Счет на оплату
        br
        input(type='file' ng-model='vm.document.schetNaOplatu' base-sixty-four-input)
      .m-input-container(flex=50, ng-if='vm.document.naOsnovanii=="Счет-фактура + Накладная"')
        label Счет-фактура
        br
        input(type='file' ng-model='vm.document.shetFactura' base-sixty-four-input)
      .m-input-container(flex=50, ng-if='vm.document.naOsnovanii=="Счет-фактура + Накладная"')
        label Накладная
        br
        input(type='file' ng-model='vm.document.nakladnaya' base-sixty-four-input)


div.like-invoice-title
  div.m-point
  | Дополнительные требования
div.like-invoice-body

  div.m-row(layout='row')
    div.m-input-container(flex='50')
      label Дополнительная информация
      br
      textarea(ng-class="{'deactiveDashed': vm.document.description }",
      required='',
      name='description',
      ng-model='vm.document.description',
      dynamic-text-area,
      msd-elastic)
    div.m-input-container(flex='50')
      .checkbox.checkbox-coll(flex='100')
        label
          input(type="checkbox", ng-model='vm.document.srochno', value="")
          | Требуется — СРОЧНО!


div(ng-if='vm.document.srochno')
  div.like-invoice-title Условие срочных заявок
  div.like-invoice-body
    div(layout='row')
      div Срочная заявка обрабатывается в течении 15 минут. Цена — 500 тенге за 1 заявку.

